.saroy {
  background: #FAF5F1;
  padding-top: 104px;
  padding-bottom: 104px;
}

.saroy-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saroy-title {
  text-align: center;
  font-family: "Mongolian Baiti", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #7E8B9B;
  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 37px;
    height: 37px;
    background-image: url('../../assets/images/church.svg');
    background-repeat: no-repeat;
    // background-size: 37px 37px;
    background-position: center;
  }
}

.saroy-text {
  text-align: center;
  font-family: "Montserrat",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #616161;
  margin-top: 15px;
  &:nth-child(2) {
    max-width: 411px;
    width: 100%;
  }
}

.saroy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 47px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(168, 162, 162, 0.9);
  border-radius: 26px;
  width: 144px;
  height: 32px;
  text-decoration: none;
}